@import "bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,200..1000;1,200..1000&display=swap');

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #0F172A;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.layout-content {
  margin-left: 250px;
  margin-top: 80px;
  transition: margin-left 0.3s ease;
  background-color: #f2f2f2;
}

@media (max-width: 992px) {
  .layout-content {
    margin-left: 70px;
  }
}