@import "bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  background-color: #f2f2f2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #0F172A;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.layout-content {
  margin-left: 250px;
  transition: margin-left 0.3s ease;
  background-color: #f2f2f2;
}

@media (max-width: 992px) {
  .layout-content {
    margin-left: 70px;
  }
}