.dashboard-activities__card {
   background-color: #fff;
   border-radius: 12px;
   padding: 16px;
}

.dashboard-activities__card-title {
   font-size: 14px;
   font-weight: 600;
}

.dashboard-activities__card-icon {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 44px;
   height: 44px;
   border-radius: 8px;
   font-size: 20px;
}